# Save in : /etc/systemd/system/
[Unit]
Description=DeepCool AK620 Temperature Display Written by Mohanad Abu-Nayla.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mohanad
WorkingDirectory=/home/mohanad/Documents/rust_stuff/deepcool_ak620_rust/
ExecStart=/home/mohanad/.cargo/bin/cargo run --manifest-path /home/mohanad/Docu>
StandardOutput=append:/var/log/deepcool_ak620.log
StandardError=append:/var/log/deepcool_ak620.log
Environment="RUSTUP_TOOLCHAIN=stable-x86_64-unknown-linux-gnu"

[Install]
WantedBy=multi-user.target
